@model List<Wedding>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Welcome @TempData["name"] to the Wedding Planner</h1>
    <a href = "/logout">Logout</a>
    <hr>
    @{
        foreach(var w in Model){
            <p>Wedding: <a href = "/details/@w.WeddingId">@w.WedderOne & @w.WedderTwo</a></p>
            <p>Date: @w.Date.ToString("MMMM dd, yyyy")</p>
            <p>Guest Count: @w.MyGuests.Count</p>
            foreach(var g in @w.MyGuests){
                <p>Guests Name: @g.User.FirstName</p>
            }

            if(@w.UserId != (int)TempData["id"]){
                bool RSVPed = false;
                foreach(var guest in @w.MyGuests){
                    if(@guest.User.UserId == @w.UserId){
                        RSVPed = true;
                    }
                }
                if(RSVPed == true){
                    <p>Action: </p>
                    <form action="/unRSVP/@w.WeddingId" method="post">
                        <input type="hidden" name="WeddingId" value="@w.WeddingId">
                        <a><input type="submit" value="Un-RSVP"></a>
                    </form>
                }
                else{
                    <p>Action:</p>
                    <form action="/RSVP" method="post">
                        <input type="hidden" name="WeddingId" value="@w.WeddingId">
                        <a><input type="submit" value="RSVP"></a>
                    </form>
                }
            }
            else{
                <p>Action:</p> 
                <form action="/deleteWedding/@w.WeddingId">
                    <input type="hidden" name="WedId" value="@w.WeddingId">
                    <a><input type="submit" value="Delete"></a>
                </form>
            }
        }
        <hr>
    }
    <hr>
    <a href = "/newWedding"><button>New Wedding</button></a>
</body>
</html>