@model List<Wedding>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Welcome @TempData["name"] to the Wedding Planner</h1>
    <a href = "/logout">Logout</a>
    <hr>
    @{
        foreach(var w in Model){
            <p>Wedding: <a href = "/details/@w.WeddingId">@w.WedderOne & @w.WedderTwo</a></p>
            <p>Date: @w.Date.ToString("MMMM dd, yyyy")</p>
            <p>Guest Count: @w.MyGuests.Count</p>
            @foreach(var g in @w.MyGuests)
            {
                <p>Guests Name: @g.User.FirstName</p>
            }

            @if(@w.UserId == (int)TempData["id"])
            {
                <a href ="/deleteWedding/@w.WeddingId">Delete</a>
            }
            else if (w.MyGuests.Select(rsvp => rsvp.User.UserId).Contains((int)TempData["id"]))
            {
                <a href ="/unRSVP/@w.WeddingId">UN-RSVP</a>
            }
            else{
                <a href ="/RSVP/@w.WeddingId">RSVP</a>
            }
        }
        <hr>
    }
    <hr>
    <a href = "/newWedding"><button>New Wedding</button></a>
</body>
</html>